name: kalkulator_bisnis_umkm
description: A new Flutter project.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2  # Untuk simpan data
  intl: ^0.18.1               # Untuk format tanggal & uang
  csv: ^5.0.2                 # Untuk bikin file Excel
  path_provider: ^2.1.1       # Untuk cari folder simpan
  share_plus: ^7.2.1          #

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  bdd_widget_test: ^1.2.1
  build_runner: ^2.4.13
  flutter_driver:
    sdk: flutter

flutter:
  uses-material-design: true
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
