name: Bikin Aplikasi Komplit (APK & AAB)
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Siapkan Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Siapkan Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.0'
          channel: 'stable'

      - name: Ambil Kunci dari Brankas
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > upload-keystore.jks
          echo "storePassword=123456" > android/key.properties
          echo "keyPassword=123456" >> android/key.properties
          echo "keyAlias=upload" >> android/key.properties
          echo "storeFile=../../upload-keystore.jks" >> android/key.properties

      - name: Download Library
        run: flutter pub get

      - name: Bikin APK Split
        run: flutter build apk --release --split-per-abi --no-tree-shake-icons

      - name: Bikin AAB
        run: flutter build appbundle --release --no-tree-shake-icons

      - name: Simpan Hasil APK
        uses: actions/upload-artifact@v4
        with:
          name: file-khusus-hp-kamu
          path: build/app/outputs/flutter-apk/*.apk

      - name: Simpan Hasil AAB
        uses: actions/upload-artifact@v4
        with:
          name: file-siap-playstore
          path: build/app/outputs/bundle/release/app-release.aab
